body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
.container-header {
  display: flex;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.navigation {
  display: flex;
  align-items: center;
}
.container {
  max-width: 1158px;
  padding-left: 0;
  padding-right: 32px;
  margin-left: 156px;
  margin-right: 156px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.nav-list-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.menu {
  padding: 24px 0;
}
.header-line {
  border-bottom: 1px solid #e7e9fc;
}
.webstudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.web {
  color: #2e2f42;
}
.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-list:hover {
  color: #404bbf;
}

.nav-list:focus {
  color: #404bbf;
}
.adress-list-menu {
  display: flex;
  gap: 40px;
}

.address {
  font-style: normal;
}
.address-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-list:hover {
  color: #404bbf;
}
.address-list:focus {
  color: #404bbf;
}
.section-one {
  background-color: #2e2f42;
}

.header-one {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.button-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

.list-two {
  display: flex;
  gap: 24px;
  justify-content: space-evenly;
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-two {
  display: none;
}
.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.list-three {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.name {
  text-align: center;
}
.section-three {
  background-color: #f4f4fd;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}
.section-three-list {
  background-color: #ffffff;
}

.list-four {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio-border {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.footer {
  background-color: #2e2f42;
}

.footer-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.web-footer {
  color: #f4f4fd;
}
